:root {
    --fuente-principal: 'Poppins', sans-serif;
    --color-fuente: #203442;
    --color-boton: #203442;
    --blanco: #fff;
    --color-fondo: #F7FAFB;
    --color-secundario: #C60F7B;
    --color-secundario-boton: #4A8AA1;
    --color-input: #F2F2F2;
    --color-texto-footer: #909090;
    --color-texto-menu: #202020;
    --fuente-titulos-menu: 'Didact Gothic', sans-serif;
    --color-border-menu: #BDC7CA;
    --color-texto-menu: #536876;
    --fuente-secundaria: 'Didact Gothic', sans-serif;
    --fondo-perfil: #E6A8CF;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--color-fondo);
}

/* Login y registrarse */

.imagenes-login {
    margin-right: 10rem;
    margin-bottom: 3rem;
}

.login-form {
    margin-top: 10rem;
}

.img-logo {
    margin-bottom: 12.5rem;
}

.img-fondo {
    max-width: 58rem;
    width: 100%;
}

.formulario-login {
    max-height: 88rem;
    max-width: 80rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    font-family: var(--fuente-principal);
}

.formulario-login-card {
    max-height: 88rem;
    min-height: 60rem;
    height: 100%;
    max-width: 80rem;
    min-width: 70rem;
    width: 70%;
}

.nombre-form, .label-login, .input-login, .label-login-registro {
    color: var(--color-fuente);
    font-style: normal;
    font-weight: normal;
}

.nombre-form {
    padding: 2rem 0;
    font-size: 4.2rem;
}

.label-login, .input-login, .boton-login {
    font-size: 2.8rem;
    margin-top: 1rem;
}

.input-login {
    padding: 1rem 1rem;
    border: 0px solid transparent;
    border-radius: 2.2rem;
    max-width: 60rem;
    background-color: var(--color-input);
}

.boton-login {
    text-decoration: none;
    width: 33rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color-boton);
    color: var(--blanco);
    text-align: center;
}

.label-login-nt {
    font-family: var(--fuente-principal);
    font-size: 2.8rem;
    margin-top: 1rem;
    max-width: 28rem;
    min-width: 20rem;
}

.input-login-nt {
    font-family: var(--fuente-principal);
    font-size: 2.8rem;
    padding: 1rem 1rem;
    border: 0px solid transparent;
    border-radius: 2.2rem;
    min-width: 20rem;
    max-width: 28rem;
    background-color: var(--color-input);
}

.login-registro-nt {
    max-width: 29;
}

.label-login-registro {
    font-size: 2.4rem;
    margin-top: 3rem;
    min-width: 60rem;
    margin-bottom: 3rem;
}

.label-login-registro a {
    text-decoration: none;
}

.label-login-registro-span {
    text-decoration: none;
    color: var(--color-secundario);
}

.card-borde {
    border: 0px solid transparent;
    border-radius: 22px;
    -webkit-box-shadow: 0px 0px 22px 3px #D1D1D1;
    box-shadow: 0px 0px 22px 3px #D1D1D1;
}

/* Header  */

.header {
    margin-top: 4rem;
}

.imagen-menu {
    margin: 0 5rem;
}

.boton-central-publicar {
    margin-top: 3.5rem;
}

.boton-central-publicar-texto {
    text-decoration: none;
    color: var(--color-texto-menu);
    font-style: normal;
    font-weight: lighter;
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}

.icon-search {
    margin-right: 13rem;
    margin-left: 7.5rem;
}

.dropdown-menu {
    margin-top: 5rem;
    padding-top: 2rem;
    background-color: transparent;
    border-color: transparent;
}

.dropdown-menu-config {
    border: .2rem solid;
    border-color: var(--color-border-menu);
    padding: 2rem 5rem 2rem 2rem;
    width: 25rem;
    background-color: var(--color-fondo);
}

.dropdown-item {
    color: var(--color-texto-menu);
    font-family: var(--fuente-titulos-menu);
    font-style: normal;
    font-size: 2.4rem;
}

/* Body principal */

.principal {
    margin-top: 10rem;
}

.linea-izq {
    background-color: var(--color-fuente);
    min-height: 0.2rem;
    margin-right: 0%;
    width: 30%;
}

.titulos-espacios {
    margin: 0 4rem;
    font-family: var(--fuente-titulos-menu);
    color: var(--color-fuente);
    font-style: normal;
    font-weight: lighter;
    font-size: 4.3rem;
}

.linea-der {
    background-color: var(--color-fuente);
    min-height: 0.2rem;
    margin-right: 0%;
    width: 30%;
}

/* Body del adminitrador clientes */

.clientes-registrados-container, .ultimos-productos-container {
    margin-top: 8rem;
}

.ultimos-productos-container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-productos {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.clientes-registrados, .card-intercambios,  .card-administrador-cl-pr  {
    width: 45rem;
    min-height: 20rem;
    margin-bottom: 5rem;
    flex-direction: row;
}
.contenedor-administrador-cl-pr{
    margin-bottom: 5rem;
}

.ultimos-productos {
    width: 25rem;
    height: 32rem;
    margin: 3.4rem 2.5rem;
}

.mis-datos-area-doble {
    width: 145rem;
    height: 50rem;
    margin-bottom: 5rem;
}

.titulo-categorias {
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    font-style: normal;
    font-weight: bold;
    font-size: 4.2rem;
}

/* Cards de productos */

.card-imagen {
    width: 23rem;
    height: 21rem;
    margin: 1rem 1rem 0 1rem;
    border: 0px solid transparent;
    border-radius: 22px 22px 0 0;
}

.card-categoria {
    margin: 1rem 0 0 1rem;
    font-size: 1rem;
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    text-transform: uppercase;
    font-weight: bold;
}

.card-titulo {
    margin: 0.4rem 0 0.5rem 0rem;
    font-size: 1.4rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    text-align: center;
}

.card-ubicacion {
    margin: 0.8rem 0 0 1rem;
    font-size: 1rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: lighter;
}

.card-fecha {
    margin: 0.8rem 1rem 0 0;
    font-size: 1rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: lighter;
    text-align: right;
}

/* Cards de mis productos */

.card-mis-productos-imagen {
    width: 20rem;
    height: 18rem;
    margin: 1rem 1rem 0 1rem;
    border: 0px solid transparent;
    border-radius: 22px 0 0 22px;
}

.card-mis-productos-titulo {
    margin: 2.2rem 0 0 1rem;
    font-size: 2.2rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
}

.card-mis-productos-texto {
    max-width: 52rem;
    width: 100%;
}

.card-mis-productos-descripcion {
    margin: 2rem 0 1rem 1rem;
    font-size: 1.8rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
}

.card-mis-productos-datos-finales {
    margin: 2rem 3.7rem 0 1rem;
    min-width: 20rem;
    max-width: 20rem;
    height: auto;
}

.card-mis-productos-categoria {
    margin: 1rem 0 0 1rem;
    font-size: 1.5rem;
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 7rem;
}

.card-mis-productos-ubicacion {
    margin: 0.8rem 0 0 1rem;
    font-size: 1.4rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: lighter;
}

.card-mis-productos-fecha {
    margin: 0.8rem 0 1rem 0;
    font-size: 1.4rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: lighter;
    text-align: right;
}



/* Cards Solicitudies */
.container-solicitudes{    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.container-solicitudes-titulo{
    margin: 2rem 0 2rem 1rem;
    font-size: 3.6rem;
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

.card-solicitudes-nombre{
    font-size: 2.2rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    text-align: center;

}
.card-solicitudes-titulo{
    font-size: 2.4rem;
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

}

.card-solicitudes-mensaje{
    font-size: 2rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    text-align: justify;

}

.card-solicitudes-body    {
    margin: 0 2rem 2rem 2rem ;
}

.card-solicitudes-boton ,.card-solicitudes-boton2 {
    text-decoration: none;
    width: 21rem;
    margin-top: 2rem ;
    padding: 1rem 2rem;
    background-color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    color: var(--blanco);
    text-align: center;
    font-size: 2.2rem;
    font-weight: lighter;
}
.card-solicitudes-boton2 {
    background-color: var(--color-secundario-boton);
}

.card-solicitudes    {
    max-width: 90rem;
    min-height: 45rem;
    margin: 3rem 1rem;
    flex-direction: row;
}

/* Cards de datos Personales */

.datos-cuenta-info-titulo {
    margin: 2rem 0 0 3rem;
    font-size: 2.5rem;
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    font-weight: bold;
    text-transform: uppercase;
}

.datos-cuenta-info-label {
    margin: 1.5rem 6rem 1.5rem 1rem;
    font-size: 3.5rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: normal;
    text-align: right;
}

.datos-cuenta-info-texto {
    margin: 1.5rem 0 1.5rem 1rem;
    font-size: 3.5rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: lighter;
}

.datos-cuenta-info{
    margin: 3rem 0;
}

/* Cards de intercambios */

.card-intercambios-imagen {
    width: 20rem;
    height: 18rem;
    margin: 1rem;
    border: 0px solid transparent;
    border-radius: 22px;
}

.card-intercambios-titulo {
    margin: 2.2rem 1rem 0 1rem;
    font-size: 2.2rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: bold;
}

.card-intercambios-texto {
    max-width: 25rem;
    width: 100%;
}

.card-intercambios-descripcion {
    margin: 1rem;
    font-size: 2rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
}

.card-intercambios-boton {
    text-decoration: none;
    width: 21rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
    background-color: var(--color-secundario);
    color: var(--blanco);
    text-align: center;
    font-size: 1.7rem;
    font-weight: lighter;
}

.alineamiento-izq {
    text-align: right;
}

/* body ver producto */

.linea-ver-productos {
    background-color: var(--color-fuente);
    min-height: 0.2rem;
    margin-right: 0%;
    width: 70%;
}

.cards-ver-producto{
    width: 48%;
    margin: 3.7rem 0 ;
    height: 35rem;
}

.cards-ver-producto-carrusell{
    width: 80%;
    margin: 1.7rem 0 ;
    height: 60rem;
}
.ver-productos-ubicacion-fecha{
    width: 40rem;
    margin-right: 10.41%;
}

.ver-productos-contenedor-boton{
    width: 80%;
}

.ver-productos-boton ,.ver-productos-boton2 {
    text-decoration: none;
    width: 47%;
    margin-top: 2rem ;
    padding: 4rem 0;
    background-color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    color: var(--blanco);
    text-align: center;
    font-size: 2.8rem;
    font-weight: lighter;
    
}
.ver-productos-boton2 {
    background-color: var(--color-secundario-boton);
}

/* Body del adminitrador */

.texto-imagenes-administrador {
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
}

.eliminar-text-decoracion {
    text-decoration: none;
}


.card-clientes-datos-finales {
    margin: 2rem 3.7rem 0 1rem;
    min-width: 30rem;
    width: auto;
    height: 20rem;
}

.totales-num-clientes{
    margin: 0.8rem 0 1rem 0;
    font-size: 2.4rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: bold;
    text-align: right;
}

.administrador-cl-texto {
    margin: 2rem 1rem 0 1rem;
    font-size: 3.4rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    font-weight: lighter;
}


/* Footer */

.footer {
    margin-top: 10rem;
    background-color: var(--color-fuente);
}

.img-logo-fondo {
    margin: 5rem 8rem;
}

.texto-footer-derechos {
    color: var(--color-texto-footer);
    font-style: normal;
    font-weight: lighter;
    margin-top: 11.5rem;
    font-size: 1.4rem;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.texto-footer-sobre-nosotros {
    color: var(--blanco);
    font-style: normal;
    font-weight: lighter;
    margin-top: 7.5rem;
    margin-right: 13rem;
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

/* Sobre nosotros */

.circulo {
    width: 30.5rem;
    height: 30.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--fondo-perfil);
    margin: auto;
}

.perfil {
    margin-top: 5rem;
    height: 43rem;
}

.foto-perfil {
    width: 26rem;
    height: 26rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.nombre-perfil-sobre {
    margin: 3.7rem 1rem 0 0;
    font-size: 2.9rem;
    font-family: var(--fuente-secundaria);
    color: var(--color-fuente);
    text-align: center;
}

.redes-sociales-icon {
    margin: 0.9rem 0.8rem;
}

/* @media querys */

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 767px) {
    .grid-productos {
        grid-template-columns: repeat(1, 1fr);
    }
    .container-responsive-login-registro {
        display: flex;
        flex-direction: column;
    }
    .col-4 {
        width: 80%;
    }
    .formulario-login-card {
        min-width: 55rem;
        width: 70%;
    }
    .input-login, .input-login-nt {
        max-width: 45rem;
        min-width: 45rem;
    }
    .container {
        margin-left: 0rem;
        margin-right: 3rem;
    }
    .imagenes-login {
        margin-left: 10rem;
        justify-content: center;
    }
    
    .card-intercambios {
        width: 50rem;
        flex-direction: column;

    }
    .card-intercambios-texto {
        max-width: 30rem;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
    .grid-productos {
        grid-template-columns: repeat(2, 1fr);
    }
    .clientes-registrados {
        width: 75rem;
    }
    .card-administrador-cl-pr{
        width: 90rem;
    }
    .card-mis-productos-texto {
        max-width: 42rem;
    }
    .container-responsive-login-registro {
        display: flex;
        flex-direction: row;
    }
    .formulario-login-card {
        min-width: 55rem;
        width: 70%;
    }
    .input-login, .input-login-nt {
        max-width: 45rem;
        min-width: 45rem;
    }
    
    .card-intercambios {
        width: 70rem;
        flex-direction: column;

    }
    .card-intercambios-texto {
        max-width: 50rem;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
    .grid-productos {
        grid-template-columns: repeat(3, 1fr);
    }
    .clientes-registrados {
        width: 90rem;

    }
    
    .card-administrador-cl-pr{
        width: 90rem;
    }
    .card-intercambios {
        width: 70rem;
        flex-direction: column;

    }
    .card-intercambios-texto {
        max-width: 50rem;
    }
    .card-mis-productos-texto {
        max-width: 52rem;
    }
    .formulario-login-card {
        min-width: 55rem;
        width: 70%;
    }
    .input-login, .input-login-nt {
        max-width: 45rem;
        min-width: 45rem;
    }
}

/*  X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .grid-productos {
        grid-template-columns: repeat(4, 1fr);
    }
    .clientes-registrados, .card-intercambios {
        min-width: 115rem;
    }
    
    .card-administrador-cl-pr{
        width: 94rem;
    }
    .formulario-login-card {
        height: 100%;
        min-width: 70rem;
        width: 70%;
    }
    .input-login {
        max-width: 60rem;
    }
    .card-mis-productos-datos-finales {
        height: 18rem;
    }
    
.container-solicitudes{
    grid-template-columns: repeat(2, 1fr);
}

.card-solicitudes    {
    width: 58rem;
}


}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .grid-productos {
        grid-template-columns: repeat(4, 1fr);
    }
    .clientes-registrados, .card-intercambios {
        width: 132rem;
    }
    
    .card-administrador-cl-pr{
        width: 116rem;
    }
    .card-mis-productos-texto {
        max-width: 72rem;
    }
    .card-intercambios-texto {
        max-width: 34rem;
    }
    
    .card-solicitudes    {
        width: 67rem;
    }
    
.card-clientes-datos-finales {
    min-width: 45rem;
    width: auto;
}
}

@media (min-width: 1500px) {
    .grid-productos {
        grid-template-columns: repeat(5, 1fr);
    }
    .clientes-registrados, .card-intercambios {
        width: 145rem;
    }
    
    .card-administrador-cl-pr{
        width: 126rem;
    }
    .card-mis-productos-texto {
        max-width: 102rem;
    }
    .card-intercambios-texto {
        max-width: 35rem;
    }
    .card-intercambios-espacio {
        margin: 0rem 5rem;
    }
    
    .card-solicitudes    {
        width: 72rem;
    }
    
}

@media (min-width: 1700px) {
    .card-solicitudes    {
        width: 80rem;
    }
    .card-administrador-cl-pr{
        width: 145rem;
    }
    
}