:root{
    --fuente-principal: Poppins;
    --color-fuente: #203442;
    --color-boton: #203442;
    --blanco: #fff;
    --color-fondo: #F7FAFB;
    --color-secundario:#C60F7B;
    --color-input: #F2F2F2;
    --color-texto-footer: #909090;
    --color-texto-menu: #202020;
    --fuente-titulos-menu: 'Didact Gothic', sans-serif;
    --color-border-menu: #BDC7CA;
    --color-texto-menu:#536876;
}


html
{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: var(--color-fondo);
}




/* Login y registrarse */
.imagenes-login{
    margin-right: 10rem;
}

.login-form{
    margin-top: 10rem;
}
.img-logo{
    margin-bottom: 12.5rem;
}
.img-fondo{
    max-width: 58rem;
    width: 100%;
    
}
.formulario-login{
    max-height: 88rem;
    max-width: 80rem;
    margin-left: 5rem;
    
    margin-bottom: 3rem;
    font-family: var(--fuente-principal);
    
}

.formulario-login-card{
    max-height: 88rem;
    min-height: 60rem;
    height: 100%;
    max-width: 80rem;
    min-width: 70rem;
    width: 70%;
}

.nombre-form, .label-login, .input-login, .label-login-registro{
    color: var(--color-fuente);
    font-style: normal;
    font-weight: normal;
}
.nombre-form{
    padding: 2rem 0;
    font-size: 4.2rem;
}
.label-login, .input-login, .boton-login{
    font-size: 2.8rem;
    margin-top: 1rem;
}
.input-login{
    padding: 1rem 1rem;
    border: 0px solid transparent;
    border-radius: 2.2rem;
    max-width: 60rem;
    background-color: var(--color-input);
}
.boton-login{
    text-decoration:none;
    width: 33rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color-boton);
    color: var(--blanco);
    text-align: center;
}
.label-login-registro{
    font-size: 2.4rem;
    margin-top: 3rem;
    min-width: 60rem;
    margin-bottom: 3rem;
}

.label-login-registro a {
    text-decoration:none;
}
.label-login-registro-span{
    text-decoration:none;
    color: var(--color-secundario);
}
.card-borde {
    border: 0px solid transparent;
    border-radius: 22px;
    -webkit-box-shadow: 0px 0px 22px 3px #D1D1D1; 
box-shadow: 0px 0px 22px 3px #D1D1D1;
    }
    

/* Header  */
.header{
    margin-top: 4rem;
}
.imagen-menu{
    margin: 0 5rem;
}
.boton-central-publicar{
    margin-top: 3.5rem;

}
.boton-central-publicar-texto{
    text-decoration:none;
    color: var(--color-texto-menu);
    font-style: normal;
    font-weight: lighter;
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration:none;

}

.icon-search{
    margin-right: 13rem;
    margin-left: 7.5rem;
}

.dropdown-menu{
    margin-top: 5rem;
    padding-top: 2rem;
    background-color: transparent;
    border-color: transparent;
}
.dropdown-menu-config{
    border: .2rem solid;
    border-color: var(--color-border-menu);
    padding: 2rem 5rem 2rem 2rem;
    width: 25rem;
    background-color: var(--color-fondo);
}

.dropdown-item{
    
    color: var(--color-texto-menu);
    font-family: var(--fuente-titulos-menu);
    font-style: normal;
    font-size: 2.4rem;


}

/* Body principal */
.principal{
    margin-top: 10rem;
}

.linea-izq {
    background-color: var(--color-fuente);
    min-height: 0.2rem;
    margin-right: 0%;
    width: 30%;
  }
.titulos-espacios{
    margin: 0 4rem;
    font-family: var(--fuente-titulos-menu);
    color: var(--color-fuente);
    font-style: normal;
    font-weight: lighter;
    font-size: 4.3rem;
}
  .linea-der {
    background-color: var(--color-fuente);
    min-height: 0.2rem;
    margin-right: 0%;
    width: 30%;
  }

/* Body del adminitrador clientes */
.clientes-registrados-container, .ultimos-productos-container{
    margin-top: 8rem;
}
.clientes-registrados{
    width: 145rem;
    height: 20rem;
    margin-bottom: 5rem;
}
.ultimos-productos{
    width: 25rem;
    height: 32rem;
    margin:3.4rem 2.5rem;
}

.mis-datos-area-doble{
    width: 145rem;
    height: 50rem;
    margin-bottom: 5rem;

}

.titulo-categorias{
    
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    font-style: normal;
    font-weight: bold;
    font-size: 4.2rem;
}
  
/* Body del adminitrador */
.texto-imagenes-administrador{
    
    font-family: var(--fuente-principal);
    color: var(--color-fuente);
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
}

.eliminar-text-decoracion{
    text-decoration: none;
}

/* Footer */
.footer{
    margin-top: 10rem;
    background-color: var(--color-fuente);
}

.img-logo-fondo{
    margin: 5rem 8rem;
}

.texto-footer-derechos{
    
    color: var(--color-texto-footer);
    font-style: normal;
    font-weight: lighter;
    margin-top: 11.5rem;
    font-size: 1.4rem;
}


.texto-footer-sobre-nosotros{
    
    color: var(--blanco);
    font-style: normal;
    font-weight: lighter;
    margin-top: 7.5rem;
    margin-right: 13rem;
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    
}